# ALWAYS SET TO "production" FOR PRODUCTION ENVIRONMENT!
# "production" or "development"
GO_ENV=development

# Docker
RABBITMQ_CONFIG=rabbitmq.dev.conf

# Rate limiter
RATE_LIMITER_REQUEST_PER_SECOND=100

# API host options
SYSTEM_HOSTNAME=localhost
API_PORT=80
API_PORT_TLS=443
USE_TLS=false
TLS_KEYFILE_PATH=
TLS_CERTFILE_PATH=

# CORS
CORS_ALLOW_ALL_ORIGINS=true

# JWT
JWT_SECRET=secret

# MQTT options
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=test
MQTT_PASSWORD=test
MQTT_QOS=1
MQTT_SELF_CLIENT_ID=vgnms

# MongoDB options
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USERNAME=test
MONGODB_PASSWORD=test

# AWS SNS
AWS_REGION=
AWS_IAM_ACCESS_KEY_ID=
AWS_IAM_SECRET_ACCESS_KEY=
AWS_SNS_TOPIC_ARN=
